{% extends 'base.html.twig' %}
{# quand on met extends, on est obligé de mettre notre contenu dans un block #}
{% block body %}
    <h2>Salut {{ prenom }}</h2>
    <h2>Salut prénom</h2>
{% endblock %}